[project]
	description = html5course
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/eugenix
[access "refs/for/refs/*"]
	read = group user/eugenix
	push = group user/eugenix
	label-Code-Review = -2..+2 group user/eugenix
	label-Verified = -1..+1 group user/eugenix
	rebase = group user/eugenix
	removeReviewer = group user/eugenix
	submit = group user/eugenix
[access "refs/heads/*"]
	read = group user/eugenix
	create = group user/eugenix
	push = +force group user/eugenix
	pushMerge = group user/eugenix
[access "refs/tags/*"]
	push = +force group user/eugenix
	pushTag = group user/eugenix
	pushSignedTag = group user/eugenix
